*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.wrapper {
	width: 1024px;
	margin: 40px auto;
	overflow: hidden;
}

#container {
  width: 800px;
  height: 800px;
  float: right;
  display: flex;
  border: 3px solid black;
  flex-direction: column;
  flex-wrap: wrap;
}

.block {
  border: 1px solid black;
  box-sizing: border-box;
}

.reset {
	cursor: pointer;
	text-align: center;
	border: 1px solid black;
	font-family: sans-serif;
	padding: 5px 10px;
	float: left;
	display: block;
}

#buttons {
	float: left;
	width: 200px;
	margin-left: 10px;
	margin-top: 10px;
	padding: 5px 0;
	text-align: center;
}

.colors {
	display: block;
	margin-bottom: 20px;
	float: left;
}

.color {
	border: 1px solid black;
	cursor: pointer;
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
	margin-right: 10px;
	float: left;
}

.black {
	background-color: black;
}

.red {
	background-color: red;
}

.yellow {
	background-color: yellow;
}

.blue {
	background-color: blue;
}

.orange {
	background-color: orange;
}

.white {
	background-color: white;
}

.txt {
  text-align: center;
}

input.number {
  width: 50px;
  margin-right: 10px;
}

.plot {
  margin-bottom: 20px;
  font-family: sans-serif;
  text-align: left;
}

p.alert {
  color: red;
  font-size: 10px;
  margin-top: 5px;
  display: none;
}

h1 {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: left;
}
